@page
@model KUSYS_Demo.WebApp.Pages.Students.DeleteModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Students/DeleteModal" method="post">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Student Confirmation Form</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body">
                <input type="hidden" asp-for="Id" />
                    <span> Are you sure to delete the user ? </span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> <span>Delete</span></button>
            </div>
        </div>
    </div>
</div>
<</form>
