@page
@model KUSYS_Demo.WebApp.Pages.Students.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="lp-content h-100">

    <div class="card">
        <button onClick="openModal()" type="button" name="entity-create" class="btn btn-primary">Create Student</button>
        <div class="card-body">
            <table id="studentTable" class="table table-striped display nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            FirstName
                        </th>
                        <th>
                            LastName
                        </th>
                        <th>
                            BirthDate
                        </th>
                        <th>Actions</th>
                        <th>Courses</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        var createUpdateModal = new kusys.ModalManager({
            viewUrl: "/Students/CreateUpdateModal"
        });
        var deleteModal = new kusys.ModalManager({
            viewUrl: "/Students/DeleteModal"
        });
        var addCourseModal = new kusys.ModalManager({
            viewUrl: "/Students/AddCourseModal"
        });

        var dataTable = $('#studentTable').DataTable({
            "proccessing": true,
            "serverSide": true,
            "searching": false,
            "ajax": {
                url: "/Students",
                type: 'POST',
                headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() }
            },
            "columnDefs": [
                {

                    "targets": -2,
                    "data": "buttons",
                    "orderable": false,
                    "render": function (data, type, row, meta) {
                        let text = '<span class="d-inline-block" data-toggle="tooltip"><a style="border-width:1px;width:28px;"' +
                            ' class="btn btn-sm btn-outline-info p-1 " name="entity-detail" title="' +
                            "Detail" + '" data-rowid="' + row.id + '" ><i class="fa fa-info-circle"></i></a></span>'
                        text += '<span class="d-inline-block" data-toggle="tooltip"><a style="border-width:1px;width:28px;"' +
                            ' class="btn btn-sm btn-outline-info p-1 " name="entity-edit" title="' +
                            "Edit" + '" data-rowid="' + row.id + '" ><i class="fa fa-edit"></i></a></span>'
                        text += '<span class="d-inline-block" data-toggle="tooltip"><a style="border-width:1px;width:28px;"' +
                            ' class="btn btn-sm btn-outline-info p-1 " name="entity-delete" title="' +
                            "Delete" + '" data-rowid="' + row.id + '" ><i class="fa fa-trash"></i></a></span>';
                        text += '<span class="d-inline-block" data-toggle="tooltip"><a style="border-width:1px;width:28px;"' +
                            ' class="btn btn-sm btn-outline-info p-1 " name="entity-add-course" title="' +
                            "Add Course" + '" data-rowid="' + row.id + '" ><i class="fa fa-plus"></i></a></span>';
                        return text;
                    }
                },
                {
                    "targets": -1,
                    "className": "dt-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": '',
                },
                { "name": "Id", "data": "id", "targets": 0, "visible": false },
                { "name": "FirstName", "data": "firstName", "targets": 1 },
                { "name": "LastName", "data": "lastName", "targets": 2 },
                { "name": "BirthDate", "data": "birthDate", "targets": 3 }
            ],
            "order": [[0, "desc"]]
        });

        //function format(data) {
        //    // `d` is the original data object for the row
        //    var table = '';
        //    table += '<table id="courseTable" class="table">';
        //    table += '<thead><tr><th>CourseId</th><th>CourseName</th></tr></thead>';
        //    table += '<tbody></tbody></table>';
        //    return (table);
        //}

        function format(data) {
            // `d` is the original data object for the row
            var table = '';
            table += '<table id="courseTable" class="table">';
            table += '<thead><tr><th>Actions</th><th>CourseId</th><th>CourseName</th></tr></thead>';
            table += '<tbody>';
            data.courses.forEach(function (course) {
                let text = '<span class="d-inline-block" data-toggle="tooltip"><a style="border-width:1px;width:28px;"' +
                    ' class="btn btn-sm btn-outline-info p-1 " name="course-delete" title="' +
                    "Delete" + '" data-rowid="' + course.courseId + '" ><i class="fa fa-trash"></i></a></span>';
                var tbd = '<tr>' + '<td>' + text + '</td>'  + '<td>' + course.courseId + '</td>' + '<td>' + course.courseName + '</td>' + '</tr>';
                table += tbd;
            });
            table += '</tbody>';
            table += '</table>';
            return (table);
        }

        $('#studentTable tbody').on('click', 'td.dt-control', function () {
            var tr = $(this).closest('tr');
            var row = dataTable.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');



            }
        });

        $('#studentTable tbody').on('click', '[name=entity-edit]', function () {
            var rowId = $(this).data('rowid');
            createUpdateModal.open({ id: rowId });
        });

        $('#studentTable tbody').on('click', '[name=entity-delete]', function () {
            var rowId = $(this).data('rowid');
            deleteModal.open({ id: rowId });
        });

        $('#studentTable tbody').on('click', '[name=entity-detail]', function () {
            var rowId = $(this).data('rowid');
            createUpdateModal.open({ id: rowId, readOnly: true });
        });

        $('#studentTable tbody').on('click', '[name=entity-add-course]', function () {
            var rowId = $(this).data('rowid');
            addCourseModal.open({ id: rowId });
        });

        function openModal(){
            createUpdateModal.open();
        }

        createUpdateModal.onResult(function () {
            dataTable.ajax.reload(null, false);
        });

        deleteModal.onResult(function () {
            dataTable.ajax.reload(null, false);
        });

        addCourseModal.onResult(function () {
            dataTable.ajax.reload(null, false);
        });
    </script>
}
